<footer style="position: relative; text-align: center; padding: 1rem 0; font-size: 0.9rem;">
  <nav aria-label="Footer navigation" style="text-align:center;">
    <a href="{{ site.baseurl }}/" style="margin: 0 3px;">Home</a>
    <span aria-hidden="true" style="margin: 0 1px;">|</span>
    <a href="{{ site.baseurl }}/meetings/" style="margin: 0 3px;">Meetings &amp; Groups</a>
    <span aria-hidden="true" style="margin: 0 1px;">|</span>
    <a href="{{ site.baseurl }}/buddhist-foundations/" style="margin: 0 3px;">Buddhist Foundations</a>
    <span aria-hidden="true" style="margin: 0 1px;">|</span>
    <a href="{{ site.baseurl }}/resources/" style="margin: 0 3px;">Resources</a>
    <span aria-hidden="true" style="margin: 0 1px;">|</span>
    <a href="{{ site.baseurl }}/new-events/" style="margin: 0 3px;">Events</a>
    <span aria-hidden="true" style="margin: 0 1px;">|</span>
    <a href="{{ site.baseurl }}/contact/" style="margin: 0 3px;">Contact</a>
  </nav>
</footer>